In [1]:
!pip install mysql-connector-python
import mysql.connector as connector

Requirement already satisfied: mysql-connector-python in c:\users\chant\appdata\roaming\python\python312\site-packages (9.0.0)

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
connection = connector.connect(user = "root", password = "MyR00tP@ss", db = "littlelemondb")

In [24]:
cursor = connection.cursor()
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

In [25]:
select_tables = cursor.fetchall()
for rows in select_tables:
    print(rows)

('bookings',)
('customers',)
('menu',)
('menuitems',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

In [26]:
join_query = """
SELECT customers.CustomerName, customers.ContactNumber, orders.TotalCost
FROM customers INNER JOIN orders
ON customers.customerID = orders.customerID
WHERE TotalCost > 60
"""
cursor.execute(join_query)
select_customers = cursor.fetchall()
for customers in select_customers:
    print(customers)

('Sasha Ten', 2223333, Decimal('322.00'))
('Chanie Tella', 2434222, Decimal('1120.00'))
('Sasha Ten', 2223333, Decimal('644.00'))
('Peter Williams', 2425884, Decimal('259.00'))
('Chanie Tella', 2434222, Decimal('287.00'))
('Zendaya Felt', 5354234, Decimal('301.00'))
('Zendaya Felt', 5354234, Decimal('187.00'))
('Peter Williams', 2425884, Decimal('238.00'))
('Sasha Ten', 2223333, Decimal('693.00'))
('Chanie Tella', 2434222, Decimal('777.00'))
('Sasha Ten', 2223333, Decimal('2018.00'))